@import url("shared/base-rtl.css");
@import url("shared/navbar-mobile.css");
@import url("shared/home-sections.css");
@import url("shared/footer.css");
@import url("shared/responsive-typography.css");
